/* CSS code  */
body{
    margin:0px;
}
#navbar{
    background-color: #10243B;
    margin: 0px;
    padding: 10px;
    border: 0px;
    overflow: hidden;
    position: relative;
    
}
li{
    display: inline;
    padding: 10px;
    font-family: 'Open sans', sans-serif;
    
    font-size: 16px;
    position: relative;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px; 
    text-transform: uppercase;
    font-weight: bold;
    
}
ul{
    padding: 0;
    margin: 0;
    border: 0;
    height: 45px;
}
#rightlist{
    float: right;
    position: relative;
    color: lightblue;
    
}
#leftlist{
    float: left;
    position: relative;
    color: white;
    

}
#marist{
    float: left;
}
#hero{
    background-image: url(images/graduation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
#heroText{
    font-family: 'Open sans', sans-serif;
    font-size:30px;
    color: white;
    
}
